{% extends "KsPaymentBundle::layout.html.twig" %}

{% block inner_content %}
    <p>
        Votre paiement a été effectué avec succès !
    </p>
    <p>
        Pensez à conserver votre ticket de paiement (reçu par mail).
    </p>
{% endblock %}
