<header class="visible-desktop" style="height:30px;width : 100%;color:white;background-image: url('{{ asset('img/texture/low_contrast_linen.png') }}');box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) inset;padding-bottom: 10px;padding-top: 10px;color : #CCCCCC;">
    <div class="container">
        {#<a class="pull-left">
            <img src="{{ asset('img/ks_typo_logo.png') }}" style="height:80px;margin-top:10px"/>
        </a>
        #}
        <div class="pull-left" style="margin-top:20px;color:white;text-align: right;font-family:'SeanRegular'">
            <p style="font-size: 25px;font-weight: bold;">{{ "login.one-community"|trans }}</p>
        </div>
        
        {#<div class="pull-left" style="margin-top:20px;color:white;text-align: right;font-family:'SeanRegular'">
            <p style="font-size: 17px;">{{ "login.welcome"|trans }}</p>
        </div>#}
        <br clear="all"/>
    </div>
</header>