{% extends "KsUserBundle::layout.html.twig" %}

{% block title %}
	Keepinsport - Tournois
{% endblock %}
        
{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
{% endblock %}
    
{% block content %}
    <h1 class="sportif">Tournoi</h1>
    <div class="blocHeaderSeparator"></div>
        
    <div id="test" class="brackets"></div>

{% endblock content %}
