{% if couldInvit is defined and couldInvit %}
    <li><a href="{{ urlGoogleContact }}">Inviter un sportif (Gmail)</a></li>
{% else %}
    <li class="nav-header" style="text-transform:none">Inviter un sportif (Gmail)</li>
{% endif %}