<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <i class="icon-cog"></i>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
      <li><a href="{{ path('invitationemailbeta') }}">{{ 'users.admin_beta_invite'|trans }}</a></li>   
</ul>