
.icon-celcius:before { content: '\e82a'; } /* '' */
.icon-sun:before { content: '\e818'; } /* '' */
.icon-flash:before { content: '\e81c'; } /* '' */
.icon-sun-filled:before { content: '\e819'; } /* '' */
.icon-flash-outline:before { content: '\e81b'; } /* '' */
.icon-headphones:before { content: '\e829'; } /* '' */
.icon-stopwatch:before { content: '\e827'; } /* '' */
.icon-temperatire:before { content: '\e82b'; } /* '' */
.icon-wristwatch:before { content: '\e828'; } /* '' */
.icon-waves-outline:before { content: '\e826'; } /* '' */
.icon-waves:before { content: '\e825'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-rain:before { content: '\e824'; } /* '' */
.icon-moon:before { content: '\e81d'; } /* '' */
.icon-cloud-sun:before { content: '\e823'; } /* '' */
.icon-drizzle:before { content: '\e822'; } /* '' */
.icon-snow:before { content: '\e821'; } /* '' */
.icon-cloud-flash:before { content: '\e820'; } /* '' */
.icon-cloud-wind:before { content: '\e81f'; } /* '' */
.icon-wind:before { content: '\e81e'; } /* '' */
.icon-emo-happy:before { content: '\e813'; } /* '' */
.icon-emo-wink:before { content: '\e812'; } /* '' */
.icon-emo-unhappy:before { content: '\e810'; } /* '' */
.icon-emo-sleep:before { content: '\e80f'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80e'; } /* '' */
.icon-emo-devil:before { content: '\e80d'; } /* '' */
.icon-emo-surprised:before { content: '\e80c'; } /* '' */
.icon-emo-tongue:before { content: '\e80b'; } /* '' */
.icon-emo-coffee:before { content: '\e80a'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e808'; } /* '' */
.icon-bicycle:before { content: '\e815'; } /* '' */
.icon-emo-beer:before { content: '\e807'; } /* '' */
.icon-emo-grin:before { content: '\e806'; } /* '' */
.icon-emo-angry:before { content: '\e805'; } /* '' */
.icon-emo-saint:before { content: '\e804'; } /* '' */
.icon-emo-cry:before { content: '\e803'; } /* '' */
.icon-emo-shoot:before { content: '\e801'; } /* '' */
.icon-emo-squint:before { content: '\e802'; } /* '' */
.icon-emo-laugh:before { content: '\e800'; } /* '' */
.icon-emo-wink2:before { content: '\e811'; } /* '' */
.icon-pitch:before { content: '\e814'; } /* '' */
.icon-school:before { content: '\e817'; } /* '' */
.icon-skiing:before { content: '\e816'; } /* '' */