.select2-container .select2-choice span {
    width: 200px;
}

.select2-results {
    padding : 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
    padding : 0;
}

.select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #1787C7
}

.select2-search input.select2-active {
    background: #fff url('../img/loader_ks_16.gif') no-repeat 100%;
    background: url('../img/loader_ks_16.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/loader_ks_16.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/loader_ks_16.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/loader_ks_16.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/loader_ks_16.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/loader_ks_16.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}