<div style="width:400px;height:210px;position:relative;margin:auto;border-style: solid;border-color: black;border-width:2px;">
    <canvas id='canvas_background' style="position:absolute;top:0px;" width="400px" height="210px"></canvas>
    <canvas id='canvas_activity' style="position:absolute;top:0px;" width="400px" height="210px"></canvas>
    {#{% include 'KsCanvasDrawingBundle:CanvasDrawing:_imgMap.html.twig'  %}#}
    <canvas id='final_canvas' width="400px" height="210px"></canvas>
</div>
