{% if areBeingSynchronized is defined and areBeingSynchronized %}
<li style="margin-left:150px">
    <span style="color:white;line-height:46px">
        <i class="icon-refresh icon-spin "></i> 
        <span style="font-size:0.6em;font-weight:normal">Synchronisation des activités en cours</span>
    </span>
</li>
<script>
    
    
</script>
{% endif %}