<div id="publishSportSessionModal" class='modal hide fade'>
    <div class='modal-header'>
        <a class='close' data-dismiss='modal'>&times;</a>
        <h3 class="sportif">{{ 'publish_an_activity_session'|trans }}</h3>
    </div>
    <div class='modal-body'>
        <div class='sportChoiceForm-bloc'></div> 
        <div class="loader" align="center"><img src="{{ asset('bundles/ksactivity/images/load.gif') }}" alt="Loading" /></div>
        <div class="messages"></div>     
    </div>
    <div class='modal-footer'>
        <a href='#' class='cancel btn' data-dismiss='modal'>Annuler</a>
        <a href='#' class='publish btn btn-sportif'>{{ 'activity.publishActivity'|trans }}</a>
    </div>
</div>

<script type="text/javascript">    
    
</script>