{% extends is_granted("ROLE_USER") 
    ? "::layout_full.html.twig"
    : "::noauth.html.twig"
%}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
    </br>

    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans|raw }}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}

    {% include 'KsActivityBundle:Activity:_shareActivityModal.html.twig' %}
{% endblock %}
