{% if refSponsor is not null %}
<div class="visible-desktop" style="margin-bottom:20px">
    <center>
        <a href="http://action.metaffiliation.com/suivi.php?mclic={{ refSponsor }}" target="_blank">
            <img src="http://action.metaffiliation.com/suivi.php?maff={{ refSponsor }}" border="0"/>
        </a>
    </center>
</div>
{% endif %}