{% extends "KsUserBundle::layout_V2.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}
    
{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#body").addClass("message");
    });
</script>

    <div class="wrapper">
        <!--bloc1-->
        <div class="bloc1 small">
            <div class="container">
                <h1 class="title elite">Conditions Générales d'Utilisation (CGU)</h1>
                <br/>
                <br/>
                <h3>Op&eacute;rateur du service Keepinsport</h3>
                
                <p class="text">
                        Le cr&eacute;ateur du service Keepinsport a confi&eacute; &agrave; sa propre soci&eacute;t&eacute; KEEPINSPORT
                        la mise en oeuvre et l'exploitation du service Keepinsport. Ainsi tout au
                        long de ce document KEEPINSPORT repr&eacute;sentera "l'op&eacute;rateur du service Keepinsport".
                </p>

                <h3 >Conditions d'utilisations du site www.keepinsport.com</h3>
                
                <p class="text">
                        Vous êtes entrain de visiter le service en ligne Keepinsport. Les mentions l&eacute;gales
                        qui suivent s'appliquent &agrave; tout internaute visitant ce site. L'acc&egrave;s et l'utilisation
                        de ce site sont soumis aux conditions suivantes ainsi qu'aux dispositions l&eacute;gales en
                        vigueur. En acc&eacute;dant au site, vous acceptez, sans limitation ni r&eacute;serves, ces conditions :
                        l'op&eacute;rateur du service Keepinsport se r&eacute;serve le droit de modifier le contenu du site
                        &agrave; tout moment et sans pr&eacute;avis. l'op&eacute;rateur du service Keepinsport ne pourra être tenu
                        responsable des cons&eacute;quences de telles modifications. De même, l'op&eacute;rateur du service
                        Keepinsport se r&eacute;serve le droit d'interrompre ou de suspendre tout ou partie des
                        fonctionnalit&eacute;s du site &agrave; tout moment et sans pr&eacute;avis.
                </p>

                <h3 >Informations figurant sur le Site</h3>
                
                <p class="text">
                        L'op&eacute;rateur du service Keepinsport s'efforce de contrôler la qualit&eacute; des informations
                        et de maintenir le site &agrave; jour. Cependant, aucune garantie n'est apport&eacute;e concernant
                        l'exactitude, la pr&eacute;cision, la mise &agrave; jour ou l'exhaustivit&eacute; des informations mises &agrave;
                        la disposition sur le site.
                </p>

                <h3 >Propri&eacute;t&eacute; intellectuelle</h3>
                
                <p class="text">
                        Toute utilisation sous forme de reproduction, modification, chargement informatique,
                        d&eacute;naturation, transmission ou distribution partielle ou int&eacute;grale d'un document ou
                        d'une information figurant sur le site est soumise &agrave; l'autorisation &eacute;crite et pr&eacute;alable
                        de l'op&eacute;rateur du service Keepinsport &agrave; l'exception d'une copie &agrave; usage priv&eacute; et
                        non-commercial et sous r&eacute;serve du respect des droits de propri&eacute;t&eacute; intellectuelle et
                        de tout autre droit de propri&eacute;t&eacute; dont il est fait mention. La mention suivante devra
                        figurer sur toute copie de tout ou partie du contenu du Site "Copyright Keepinsport,
                        Tous droits r&eacute;serv&eacute;s ". Toute session ou licence d'un des &eacute;l&eacute;ments constitutifs du site
                        est soumise &agrave; l'autorisation &eacute;crite de l'op&eacute;rateur du service Keepinsport, tout
                        contrevenant s'exposant &agrave; des poursuites judiciaires.
                </p>

                <h3 >Liens vers d'autres sites</h3>
                
                <p class="text">
                        Afin de faciliter l'acc&egrave;s &agrave; d'autres sites susceptibles d'apporter un compl&eacute;ment d'information,
                        l'op&eacute;rateur du service Keepinsport a ins&eacute;r&eacute; dans le site Keepinsport un certain nombre
                        de liens. l'op&eacute;rateur du service Keepinsport est responsable du lien au premier degr&eacute;
                        cr&eacute;&eacute; avec les sites ext&eacute;rieurs. N&eacute;anmoins, la responsabilit&eacute; de l'op&eacute;rateur du service
                        Keepinsport ne saurait être engag&eacute;e au titre d'un site tiers. l'op&eacute;rateur du service
                        Keepinsport ne dispose d'aucun moyen de contrôle du contenu de ces sites tiers.
                        En tout &eacute;tat de cause, l'op&eacute;rateur du service Keepinsport n'est pas responsable
                        de l'indisponibilit&eacute; des sites, de leur contenu, publicit&eacute; ou autres &eacute;l&eacute;ments disponibles
                        sur des sites tiers. Des sites externes peuvent contenir des liens hypertextes pointant
                        vers notre Site. Un tel lien ne pourra être install&eacute; sans l'accord pr&eacute;alable et &eacute;crit
                        de l'op&eacute;rateur du service Keepinsport.
                </p>

                <h3 >Donn&eacute;es sportives</h3>
                
                <p class="text">
                        L'ensemble des donn&eacute;es &agrave; caract&egrave;res non personnel (&agrave; l'exception donc du nom, du pr&eacute;nom
                        et de l'adresse email de l'utilisateur) concernant les sessions de sports pourra faire
                        l'objet de traitement de donn&eacute;es (dans un but scientifique ou commercial) par l'op&eacute;rateur
                        du service Keepinsport. Ainsi tout utilisateur du service Keepinsport renonce &agrave; son
                        droit d'auteur sur l'ensemble de ces donn&eacute;es &agrave; caract&egrave;re non personnel au profit de
                        l'op&eacute;rateur du service Keepinsport.
                </p>

                <h3 >Informatique et Libert&eacute;s - Protection des Donn&eacute;es Personnelles</h3>
                
                <p class="text">
                        En France et en Europe, les donn&eacute;es personnelles sont prot&eacute;g&eacute;es notamment par les
                        textes suivants : Loi du 6 janvier 1978, article 226-13 du Code P&eacute;nal, Directive
                        europ&eacute;enne du 24 octobre 1995. Conform&eacute;ment &agrave; la loi "relative &agrave; l'informatique,
                        aux fichiers et aux libert&eacute;s" du 6 janvier 1978, le site Internet www.keepinsport.com
                        a fait l'objet d'une d&eacute;claration aupr&egrave;s de la Commission Nationale de
                        l'Informatique et des Libert&eacute;s. Vous pouvez trouver la Loi relative &agrave; l'informatique,
                        aux fichiers et aux libert&eacute;s sur le site de la Commission Nationale de l'Informatique
                        et des Libert&eacute;s, &agrave; l'adresse suivante : www.cnil.fr. D&eacute;claration aupr&egrave;s de la CNIL :
                        Ce site fait l'objet d'une proc&eacute;dure de d&eacute;claration aupr&egrave;s de la CNIL (avis en cours)
                        l'op&eacute;rateur du service Keepinsport s'engage &agrave; respecter le caract&egrave;re confidentiel
                        des informations personnelles fournies par les visiteurs du site Keepinsport. Vous
                        trouverez ci-apr&egrave;s le type d'informations que l'op&eacute;rateur du service Keepinsport est
                        en mesure de recueillir lorsque vous visitez son site Internet, ainsi que la mani&egrave;re
                        dont elles seront utilis&eacute;es ult&eacute;rieurement.
                </p>

                <h3 >Collecte Passive de Donn&eacute;es Personnelles</h3>
                
                <p class="text">
                        Certaines des donn&eacute;es personnelles enregistr&eacute;es sur notre serveur sont celles que vous
                        fournissez volontairement lorsque vous remplissez des formulaires en ligne, et les
                        autres sont recueillies automatiquement. l'op&eacute;rateur du service Keepinsport fera
                        tout son possible pour am&eacute;liorer r&eacute;guli&egrave;rement son site. Pendant votre visite, certaines
                        donn&eacute;es sont recueillies automatiquement :
                        * Votre adresse IP : une adresse IP est affect&eacute;e &agrave; votre ordinateur par votre
                        fournisseur d'acc&egrave;s Internet pour vous permettre d'acc&eacute;der &agrave; Internet. Cette adresse
                        est g&eacute;n&eacute;ralement consid&eacute;r&eacute;e comme une information non personnellement identifiable
                        car elle change &agrave; chaque fois que vous vous connectez.
                        * L'adresse du site Internet &agrave; partir de laquelle vous êtes directement reli&eacute; au site
                        * La date et l'heure de votre visite sur le Site et les pages que vous avez consult&eacute;es.
                        * Le syst&egrave;me d'exploitation de votre ordinateur et le logiciel de navigation.
                        * Le site pourra &eacute;ventuellement faire usage de cookies persistants r&eacute;sidant sur votre
                        disque dur et ca afin de vous faciliter la navigation et l'usage de Keepinsport.
                </p>

                <h3 >Usage des Donn&eacute;es Personnelles Collect&eacute;es</h3>
                
                <p class="text">
                        L'op&eacute;rateur du service Keepinsport n'utilisera les donn&eacute;es personnelles recueillies
                        pour r&eacute;pondre aux demandes des visiteurs du site, satisfaire aux fonctions des programmes
                        de messagerie et signaler aux visiteurs les nouveaut&eacute;s ou les nouveaux services sur le
                        site Internet que si les visiteurs lui en donnent express&eacute;ment l'autorisation, notamment
                        au moment de l'inscription. L'op&eacute;rateur du service Keepinsport utilisera uniquement
                        les donn&eacute;es personnelles aux fins qui vous ont &eacute;t&eacute; indiqu&eacute;es au moment où vous les avez
                        fournies. Les donn&eacute;es personnelles que vous aurez fournies ou r&eacute;sultant de votre
                        navigation sur le site Internet sont r&eacute;serv&eacute;es &agrave; un usage strictement interne &agrave;
                        l'op&eacute;rateur du service Keepinsport.
                </p>

                <h3 >Acc&egrave;s aux Donn&eacute;es Personnelles</h3>
                
                <p class="text">
                        Conform&eacute;ment &agrave; la loi n° 78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux
                        fichiers et aux libert&eacute;s, sur simple demande de votre part (&agrave; l'adresse suiavnte :
                        8 rue Jacques Cartier, 31100 Toulouse) et quel qu'en soit le moment, l'op&eacute;rateur
                        du service Keepinsport supprimera ou modifiera les donn&eacute;es personnelles que vous
                        lui avez fournies. Pour demander la suppression des donn&eacute;es personnelles vous concernant,
                        veuillez adresser votre demande par courrier &eacute;crit &agrave; l'op&eacute;rateur du service Keepinsport.
                        L'op&eacute;rateur du service Keepinsport se r&eacute;serve le droit de modifier &agrave; tout moment les
                        r&egrave;gles de fonctionnement du site Keepinsport &eacute;nonc&eacute;es ci-dessus. 
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
