{% extends "KsUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}
    
{% block content %}

    <div>
        {{ 'ks.welcome_to_the_home_page'|trans }}
    </div>

    
{% endblock %}
