{% extends "KsUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}
    
{% block content %}

<h1 class="sportif">Mentions Légales</h1>
<div class="blocHeaderSeparator"></div>

<p>Le présent site internet, accessible à l'adresse www.keepinsport.com est exploité par la société KEEPINSPORT,
    Société à Responsabilité Limitée, au capital de 100 euros, immatriculée au RCS de Toulouse sous le numéro B 750 020 612,
    dont le siège social est situé 8 rue Jacques Cartier 31100 Toulouse - FRANCE
</p>

<p>Réalisation du site: Keepinsport - Copyright 2012 - Tous droits réservés </p>

<p>Directeur de la publication : Clément FAURE</p>

<p>Hébergement du site :
    <pre>
    ONLINE
    140 Quai du Sartel - 59100 Roubaix
    Tel: 03 20 45 36 80
    </pre>
</p>
<p>Ce site a été régulièrement déclaré auprès de la Commission Nationale de l'Informatique et des Libertés </p>
<p>Pour toute question contacter :
    <pre>
    KEEPINSPORT
    contact@keepinsport.com
    8 rue Jacques Cartier, 31100 Toulouse
    FRANCE
    </pre>
</p>
</ul>
</p>
    
{% endblock %}
