{% extends "KsUserBundle::layout_V2.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}
    
{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#body").addClass("message");
    });
</script>

    <div class="wrapper">
        <!--bloc1-->
        <div class="bloc1 small">
            <div class="container">
                <h1 class="title elite">Conditions Générales de Ventes (CGV)</h1>
                <br/>
                <br/>
                {#<h3>CONDITIONS GÉNÉRALES D’UTILISATION</h3>
                <h4>ARTICLE 1. PROPRIÉTÉ DE KEEPINSPORT ET DE SES PARTENAIRES </h4>
                <h4>ARTICLE 2. DONNÉES LIÉES A LA NAVIGATION </h4>
                <h4>ARTICLE 3. COOKIES </h4>
                <h4>ARTICLE 4. DONNÉES PERSONNELLES </h4>
                <h3>CONDITIONS GÉNÉRALES D’ABONNEMENT </h3>
                <h4>ARTICLE 1. SERVICE </h4>
                <h4>ARTICLE 2. SOUSCRIPTION / RÉTRACTATION </h4>
                <h4>ARTICLE 3. CONDITIONS FINANCIÈRES </h4>
                <h4>ARTICLE 4. OBLIGATIONS DE L’ABONNÉ </h4>
                <h4>ARTICLE 5. QUALITÉ DE SERVICE </h4>
                <h4>ARTICLE 6. ENTRÉE EN VIGUEUR / DURÉE DU CONTRAT </h4>
                <h4>ARTICLE 7. SUSPENSION / RÉSILIATION </h4>
                <h4>ARTICLE 8. RÉCLAMATIONS </h4>
                <h4>ARTICLE 9. DONNÉES PERSONNELLES </h4>
                <h4>ARTICLE 10. COMPÉTENCE </h4>#}
                <h3>CONDITIONS GÉNÉRALES DE VENTE DE PRODUITS</h3>
                Les présentes Conditions Générales de Vente (« CGV ») définissent les conditions dans lesquelles Keepinsport vend sur son site Internet, des montres (« Produits ») et leurs accessoires.

                <h4>ARTICLE 1. PRODUITS </h4>
                <p class="text">1.1. Les Produits sont ceux proposés parmi une sélection de montres sur le site Internet. Sauf indication contraire sur le site Internet de Keepinsport, les Produits sont disponibles pendant leur durée de présentation sur ledit site. Les commandes de Produits sont limitées à 1 (une) par mois pour un même acquéreur.</p>
                <p class="text">1.2. La fiche descriptive des Produits figurant sur le site Internet ou en point de vente indique les données techniques et renseignements fournis par le fabricant auprès duquel Keepinsport a acquis les Produits.</p>

                <h4>ARTICLE 2. COMMANDE </h4>
                <p class="text">2.1. Toute commande implique l’acceptation entière et sans réserve par l’acquéreur des présentes CGV. Pour passer une commande à distance, l’acquéreur devra être titulaire d’une adresse email valide nécessaire à la réception de la confirmation de sa commande envoyée par email. Keepinsport peut être amenée à demander à l’acquéreur des pièces justificatives (voir liste des pièces sur le site Internet). L’acquéreur accepte et reconnaît que la validation par lui de sa commande en ligne manifeste la preuve de son consentement à ladite commande.</p>
                <p class="text">2.2. Keepinsport réalise les contrôles nécessaires à la prise en compte de la commande, notamment afin de détecter et de limiter les fraudes, en partenariat avec la société FIA-NET. FIA-NET et Keepinsport chez qui l’acquéreur effectue son achat sont les destinataires des données en rapport avec la commande de l’acquéreur. La non-transmission des données en rapport avec la commande empêche la réalisation et l’analyse de la transaction de l’acquéreur. La survenance d’un impayé au motif d’une utilisation frauduleuse d’une carte bancaire ou d’un autre moyen de paiement entraînera l’inscription des coordonnées en rapport avec la commande associé à cet impayé au sein d’un fichier incident de paiement mis en œuvre par FIA-NET. Une déclaration irrégulière ou une anomalie pourra également faire l’objet d’un traitement spécifique. Dans le cadre du service de contrôle des commandes, FIA-NET peut être amenée à contacter les acquéreurs par tous moyens en vue de la validation d’une transaction et pourra le cas échéant, demander des pièces justificatives (Pièce d’identité et RIB/Chèque annulé...). L’acquéreur est informé que le défaut ou le refus de transmettre les justificatifs demandés empêchera FIA-NET d’octroyer une garantie sur la transaction concernée et peut conduire Keepinsport à proposer un moyen alternatif de règlement. Le délai de transmission à FIA-NET des pièces sollicitées peut décaler d’autant l’expédition des Produits commandés.</p>

                <h4>ARTICLE 3. DROIT DE RÉTRACTATION </h4>
                <p class="text">Dans le cadre d’une commande à distance, l’acquéreur dispose de 14 (quatorze) jours à compter de la réception des Produits pour se rétracter. Pour exercer le droit de rétractation, l’acquéreur doit notifier sa décision de rétractation, avant l’expiration du délai précité, au moyen d’une déclaration dénuée d'ambiguïté, à l’adresse suivante : Keepinsport Service Clientèle - 19 Chemin du Carrelot 31100 Toulouse.</p>

                <p class="text">L’acquéreur devra retourner les Produits, dans un état propre à une nouvelle commercialisation, dans leurs emballages d’origine accompagnés de tous leurs accessoires, notice et documentation à l’adresse indiquée ci-dessus, sans retard excessif, et en tout état de cause, au plus tard 14 jours suivant la communication de sa décision de rétractation. Ce délai est réputé respecté si l’utilisateur renvoie les Produits avant l’expiration du délai de 14 jours. Les frais directs de retour sont à la charge de l’acquéreur. La responsabilité de l’acquéreur n’est engagée qu’à l’égard de la dépréciation des Produits résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement des Produits. Tout retour incomplet ou envoyé à une adresse erronée ne pourra pas être traité.</p>

                <p class="text">Keepinsport procédera au remboursement de la totalité des sommes versées par l’acquéreur au titre de la commande, y compris les frais de livraison, au plus tard dans les 14 jours à compter de la date à laquelle Keepinsport est informée de la décision de l’acquéreur de se rétracter, en utilisant le même moyen de paiement que celui que l’acquéreur aura utilisé pour la transaction initiale, sauf si l’acquéreur convient expressément d’un moyen différent. Keepinsport peut différer le remboursement jusqu’à la réception des Produits par Keepinsport ou jusqu’à ce que l’acquéreur ait fourni une preuve de l’expédition des Produits, la date retenue étant celle du premier de ces faits. En cas de commande avec paiement étalé et à défaut de retour des Produits, l’acquéreur sera débité par Keepinsport de l'intégralité du prix des Produits (déduction faites des sommes déjà payées à la commande), à partir des coordonnées bancaires qu’il a communiquées lors de sa commande.	</p>
                <h4>ARTICLE 4. CONDITIONS FINANCIÈRES </h4>
                <p class="text">4.1. Les prix des Produits, exprimé en euros, toutes taxes comprises, et hors frais de livraison, sont ceux en vigueur au moment de la validation de la commande par l’acquéreur.</p>

                <p class="text">4.2. L’acquéreur doit régler sa commande, selon le Produit commandé, soit :
                au comptant par carte bancaire ou prélèvement lors de sa commande ou
                en 4 fois sans frais par carte bancaire (1er débit à la commande, puis débits 30 jours, 60 jours et 90 jours plus tard) ou
                paiement échelonné (montants et conditions dans le fiche Produit disponible sur le site) par prélèvement sur son compte bancaire, après versement d’un acompte au moment de la commande.
                Paiements sans escompte. Toutes sommes non payées à son échéance portent automatiquement intérêt au taux de trois fois le taux d’intérêt légal calculé sur le montant des sommes dues TTC.</p>

                <p class="text">4.3. La facture est envoyée à l’acquéreur sur un support dématérialisé (facture par email).</p>

                <h4>ARTICLE 5. LIVRAISON </h4>
                <p class="text">5.1. Pour les acquéreurs résidants en France métropolitaine, les Produits sont livrés selon les modes de livraison figurant sur le site Internet. Pour les acquéreurs résidants à la Réunion, les Produits ne sont pas livrés mais à récupérer directement dans un de nos magasins spécialisés partenaires. (Liste disponible sur le Site)</p>

                <p class="text">En cas de dépassement du délai de livraison indiqué par Keepinsport, Keepinsport en informe l’acquéreur par tout moyen. Sans préjudice des stipulations des articles 3 et 6.2, l’acquéreur est invité à vérifier les Produits à leur réception et faire ses réserves si les Produits livrés ne sont pas conformes à sa commande ou endommagés. A la seule fin de permettre à Keepinsport d’exercer le cas échéant un recours contre le transporteur, ces réserves doivent être formulées directement sur le bon de livraison, ou adressées au transporteur par lettre recommandée avec accusé de réception dans les 3 jours ouvrables suivant la livraison des Produits (dans cette hypothèse, une copie de cette lettre sera adressée à Keepinsport).</p>

                <p class="text">5.2. La propriété des Produits est transférée à l’encaissement complet du prix par Keepinsport. Le défaut de paiement peut entraîner la revendication des Produits par Keepinsport. Les risques sont transférés à l’acquéreur dès la livraison ou la remise des Produits.</p>

                <h4>ARTICLE 6. GARANTIES </h4>
                <p class="text">6.1. Les Produits commercialisés par Keepinsport bénéficient de la garantie des fournisseurs.</p>

                <p class="text">6.2. Les dispositions ci-dessus ne font pas obstacle à l’application de la garantie légale de conformité mentionnée aux articles L.211-4 à L.212-13 du Code de la consommation et de celle relative aux défauts de la chose vendue, dans les conditions prévues aux articles 1641 à 1648 et 2232 du Code civil.</p>

                <p class="text">Article L. 211-4 du Code de la consommation : «Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.»</p>

                <p class="text">Article L. 211-5 du Code de la consommation : «Pour être conforme au contrat, le bien doit :</p>
                <p class="text">1° Être propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :
                correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l’acheteur sous forme d'échantillon ou de modèle ;
                présenter les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ;</p>
                <p class="text">2° Ou présenter les caractéristiques définies d’un commun accord par les parties ou être propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.»</p>

                <p class="text">Article L. 211-12 du Code de la consommation : «L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.»</p>

                <p class="text">Article L. 211-16 du Code de la consommation : «Lorsque l’acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l’acquisition ou de la réparation d’un bien meuble, une remise en état couverte par la garantie, toute période d’immobilisation d’au moins sept jours vient s’ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d’intervention de l’acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d’intervention».</p>

                <p class="text">Article 1641 du Code civil : «Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.»</p>

                <p class="text">Article 1648 alinéa 1 du Code civil : «L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice.»</p>

                <h4>ARTICLE 7. DONNÉES PERSONNELLES </h4>
                <p class="text">7.1. Les données personnelles de l’acquéreur sont destinées à Keepinsport ainsi qu’à des sociétés tierces telles que des sous-traitants (pouvant opérer en dehors de l’Union Européenne) pour les besoins de la commande. L’acquéreur pourra également recevoir, sauf opposition de sa part, des messages par voie électronique pour des produits et services analogues à ceux proposés par Keepinsport. Les coordonnées bancaires de l’acquéreur seront utilisées par Keepinsport pour le paiement de toute somme due et née d’un contrat conclu avec Keepinsport. Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, l’acquéreur dispose d’un droit d’accès, de rectification, de suppression et d’opposition sur les données le concernant par l’envoi d’une lettre recommandée avec avis de réception à Keepinsport Service Clientèle – Informatique et Libertés – 19 Chemin du Carrelot 31100 Toulouse en joignant une copie de sa pièce d’identité.</p>

                <p class="text">7.2. Les données communiquées par l’acquéreur à l’occasion de sa commande font l’objet d’un traitement automatisé par FIA-NET, en qualité de responsable du traitement, afin de définir une analyse du risque lié à la transaction et de lutter contre la fraude à la carte bancaire. Conformément à la loi Informatique et Libertés du 6 janvier 1978, l’acquéreur dispose d’un droit d’accès, de rectification et d’opposition de l’ensemble des données personnelles le concernant, par l’envoi d’un courrier et en justifiant de son identité à FIA- NET– Service Informatique et Libertés – Traitements n°773061 et n°1080905 - 39 rue Saint-Lazare, 75009 PARIS.</p>

                <h4>ARTICLE 8. COMPÉTENCE </h4>
                <p class="text">Les CGV sont régies par la loi française. Pour tous les litiges, les règles de compétence légales s’appliquent.</p>
                
                <h3>CONDITIONS DE SOUSCRIPTION DE L’OFFRE DE PAIEMENT</h3>

                <h4>ARTICLE 1 – OBJET ET DESCRIPTION DE L’OFFRE DE PAIEMENT ÉTALÉE SANS FRAIS </h4>
                <p class="text">Le client a souhaité bénéficier d’une offre de paiement dont les modalités sont décrites aux présentes Conditions et les caractéristiques précisées lors de sa souscription.</p>

                <p class="text">1-1 Les présentes Conditions de souscription ont pour objet de définir les conditions applicables à la fourniture de l’offre de paiement « KEEPINSPORT » (ci-après l’ « Offre ») proposée par CA CONSUMER FINANCE en qualité de Prêteur aux consommateurs (ci-après le «Bénéficiaire ») effectuant des achats (terminaux mobiles et accessoires) auprès de Keepinsport.</p>

                <p class="text">L’Offre est une offre de paiement non soumise aux dispositions des articles L.311-1 et suivants du Code de la Consommation, permettant dans la limite d’un montant total de paiement de 199,99 € (cent quatre vingt dix neuf euros et quatre vingt dix neufs centimes) (ci-après « Montant total de paiement ») de régler des achats (montres et accessoires) auprès de Keepinsport.</p>

                <p class="text">1.2 - L’accès à cette Offre est réservé aux personnes majeures résidant en France métropolitaine ou à la Réunion pour leurs besoins personnels. Cette Offre est souscrite par Internet, et est accessible par connexion sur le site http://www.keepinsport.com. Pour bénéficier de cette Offre, le Bénéficiaire doit disposer d’un numéro de téléphone portable et d’un accès à Internet.</p>

                <h4>ARTICLE 2 - MODALITÉS DE CONCLUSION DE L’OFFRE </h4>
                <p class="text">2.1 – Pour pouvoir bénéficier de l’Offre et y souscrire, le Bénéficiaire est tenu de respecter les différentes étapes décrites ci-dessous.</p>

                <p class="text">Il est précisé que la souscription à l’Offre se fait exclusivement par internet.</p>

                <p class="text">Étapes de souscription par Internet directement sur le site http://www.keepinsport.com
                Accéder au menu de souscription à l’Offre où lui sont fournies l’ensemble des informations et caractéristiques relatives à l’Offre.
                S’identifier, renseigner et vérifier l’exactitude des éléments obligatoires demandés dont notamment son identité (civilité, nom et prénom), son adresse, son adresse email, sa date de naissance.
                Accéder aux Conditions de souscription de l’Offre, en prendre connaissance et en cas d’accord, cocher la case confirmant que le Bénéficiaire reconnaît être en possession, avoir pris connaissance et qu’il consent sans réserve à celles-ci. Le Bénéficiaire doit impérativement accéder aux Conditions de souscription de l’Offre pour pouvoir finaliser sa souscription.
                Choisir le mode de remboursement, vérifier et valider la partie consacrée au RIB (relevé d’identité bancaire) pour le paiement.
                Accéder au détail des informations, dont notamment les caractéristiques de l’Offre choisies par le Bénéficiaire, afin de pouvoir vérifier et corriger d’éventuelles erreurs avant de confirmer celles-ci pour exprimer son acceptation. Le Bénéficiaire confirme l’exactitude des informations qu’il a fournies et valide définitivement sa demande de souscription de l’Offre.</p>

                <p class="text">2.2. CA CONSUMER FINANCE accuse réception dans les meilleurs délais de la demande par voie électronique, et si la demande est définitivement recevable notifie dans le même temps son agrément. Cette notification sera accompagnée d’une autorisation de prélèvement que le Bénéficiaire devra télécharger, imprimer et retourner signée à sa banque. Des vérifications complémentaires pourront être effectuées par CA CONSUMER FINANCE, notamment si elles apparaissent nécessaires et justifiées (demandes d’informations ou de pièces). Toute absence de réponse est susceptible d’entraîner un refus de la demande. Dans le cadre de cette procédure d’inscription, la consultation du Fichier national des Incidents de remboursement des Crédits aux Particuliers fournit un élément d'appréciation.</p>

                <p class="text">2.3 - Le Bénéficiaire dispose d’un délai de 14 jours calendaires à compter de son acceptation pour revenir sur son engagement par écrit en s’adressant à CA CONSUMER FINANCE – 59072 ROUBAIX CEDEX 1. L’Offre ne pourra recevoir commencement d’exécution avant l’expiration du délai visé ci-dessus qu’avec l’accord exprès du Bénéficiaire.</p>

                <p class="text">En cas d’exercice du droit de rétractation pendant le délai rappelé ci-dessus, il ne sera réclamé aucune pénalité au Bénéficiaire. Ce dernier reste toutefois tenu des obligations correspondant à l’utilisation de l’Offre entre la date de son acceptation et celle de l’exercice du droit de rétractation.</p>

                <p class="text">L’exercice par le Bénéficiaire du droit de rétractation n’emportera pas automatiquement et de plein droit résolution de la commande et donc du contrat de vente. La résolution du contrat de vente entraînera de plein droit la renonciation à l’Offre. CA CONSUMER FINANCE remboursera le Bénéficiaire des versements éventuels prélevés et annulera les prélèvements futurs.</p>

                <h4>ARTICLE 3 – FORME DU CONSENTEMENT </h4>
                <p class="text">Les Parties conviennent que la relation contractuelle, régie par les présentes Conditions de souscription, prend effet à compter de la date à laquelle le Bénéficiaire a finalisé la procédure de souscription définie au présent article 2, sans préjudice de l’exercice du droit de rétraction énoncé à l’article 2.3.	</p>
                <h4>ARTICLE 4 – MODALITÉS D’UTILISATION DE L’OFFRE ET INFORMATIONS </h4>
                <p class="text">4.1 – L’Offre reçue par CA CONSUMER FINANCE est exécutée dans la limite du Montant total de paiement, et par suite débitée sur le compte bancaire du Bénéficiaire dans les conditions fixées lors de la souscription et en application des stipulations prévues aux présentes, notamment à l’article 5.2 ci-après. Le Bénéficiaire, préalablement à la souscription définitive de l’Offre, s’engage à s’assurer de l’existence sur son compte bancaire d’un solde suffisant et disponible et le maintenir jusqu’au jour du débit correspondant.</p>

                <p class="text">4.2 - CA CONSUMER FINANCE reste étranger à tout différend commercial entre le Bénéficiaire et Keepinsport tel que rappelé à l’article 6.</p>

                <p class="text">4.3 – Les informations relatives à la conclusion ou l’exécution du présent contrat, sont communiquées au Bénéficiaire, sauf opposition exprès de sa part, par voie électronique.</p>

                <p class="text">Le détail des informations relatives aux opérations de remboursement seront mises à disposition du Bénéficiaire mensuellement sur son Espace personnel dans les conditions définies ci-après.</p>

                <p class="text">Si le Bénéficiaire en fait la demande expresse, CA CONSUMER FINANCE lui délivre ces informations gratuitement sur papier. Par ailleurs, ces données sont archivées par CA CONSUMER FINANCE pendant les délais requis par la réglementation.</p>

                <p class="text">A tout moment de la relation contractuelle, le Bénéficiaire a le droit de recevoir à sa demande les termes du contrat sur support papier ou sur support durable ; un exemplaire étant par ailleurs archivé et consultable à tout moment sur l’Espace personnel susvisé.</p>

                <p class="text">L’accès à son Espace personnel sera possible après que le Bénéficiaire se soit identifié avec son adresse email et son mot de passe qui lui auront été préalablement communiqués. Pour toute première commande, le Bénéficiaire devra suivre la procédure de création indiquée sur le Site Internet.</p>

                <p class="text">En cas de perte ou d’oubli du mot de passe, le Bénéficiaire pourra le redemander en se rendant sur son Espace personnel et en cliquant sur « J’ai oublié mon mot de passe». Il recevra alors son mot de passe sur l’adresse email qu’il a communiquée au moment de son inscription.</p>

                <h4>ARTICLE 5 – MODALITÉS DE REMBOURSEMENT </h4>
                <p class="text">5.1 – L’Offre est exécutée dans la limite du Montant total de paiement.</p>

                <p class="text">5.2 – Le Bénéficiaire rembourse l’Offre, sans frais et par mensualités dont le montant varie en fonction de la somme empruntée. La mensualité sera comprise entre 3,99 € et 66,66 € par mois, sur une durée de 3 à 30 mois dès 11,97 € d’achats et dans la limite de 199,99 €.</p>

                <p class="text">Les caractéristiques précises de l’Offre choisie par le Bénéficiaire sont rappelées au moment de sa souscription sur internet.</p>

                <p class="text">La souscription d’une assurance garantissant le remboursement de l’Offre n’est pas proposée par CA CONSUMER FINANCE.</p>

                <p class="text">Le remboursement de l’Offre se fera sous la forme d’un prélèvement mensuel par CA CONSUMER FINANCE, sur le compte bancaire du client, jusqu’ au paiement complet des sommes dues.</p>

                <p class="text">Le Bénéficiaire validera le numéro de RIB renseigné. Il procédera ensuite à l’impression de son autorisation de prélèvement et l’enverra à sa banque.</p>

                <p class="text">Le prélèvement de la première mensualité interviendra 30 jours après la livraison de la commande. Les prélèvements suivants interviendront ensuite chaque mois, le même jour dans le mois que le premier prélèvement, et, si ce jour n’est pas un jour ouvré, le 1er jour ouvré suivant. D’autres formules de remboursement peuvent être mises en place sur demande du Bénéficiaire.</p>

                <p class="text">5.3 – Le Bénéficiaire aura la faculté de demander gratuitement une suspension de son paiement deux fois par an sous réserve du remboursement normal des mensualités et à condition qu’au moins deux mensualités aient été réglées entre chaque demande.</p>

                <p class="text">5.4 - Enfin, le Bénéficiaire pourra toujours changer d’avis et décider de rembourser sa créance par anticipation, en partie ou en totalité, sans frais à sa charge en se rapprochant de CA CONSUMER FINANCE.</p>

                <h4>ARTICLE 6 - RESPONSABILITÉ </h4>
                <p class="text">6.1 – CA CONSUMER FINANCE ne serait être tenu responsable pour tout ce qui a trait à l’achat, à la livraison, au fonctionnement et à l’utilisation des biens commandés. En cas de dysfonctionnement d’une montre et/ou de ses accessoires, le Bénéficiaire devra se rapprocher de Keepinsport. En aucun cas, un tel litige ne sera opposable à CA CONSUMER FINANCE ou ne justifiera la non exécution d’une obligation figurant aux présentes.</p>

                <p class="text">Ainsi, CA CONSUMER FINANCE reste étranger à tout différend commercial, c'est-à-dire autre que celui relatif à l’Offre, pouvant intervenir entre le Bénéficiaire et Keepinsport</p>

                <p class="text">6.2- CA CONSUMER FINANCE ne peut être tenu responsable des dysfonctionnements de connexion ou du non aboutissement de la transaction, liés à une déficience technique.</p>

                <p class="text">L’accès à l’Offre peut être momentanément interrompu en raison notamment de prestations de réparation, de maintenance, d’actualisation ou d’évolutions du Site Internet.</p>

                <p class="text">Dans cette hypothèse, la responsabilité de CA CONSUMER FINANCE ne pourra pas être engagée en cas d’erreur de saisie par le Bénéficiaire des données relatives à l’opération de paiement.</p>

                <h4>ARTICLE 7 - INCIDENTS DE PAIEMENT </h4>
                <p class="text">En cas de survenance d’un incident de paiement, il sera pris contact avec le Bénéficiaire par tous moyens afin de lui notifier cette survenance et lui demander de régulariser sa situation.</p>

                <p class="text">A réception de cette demande, le Bénéficiaire s’engage à régulariser sa situation dans un délai de 30 (trente) jours. </p>

                <p class="text">En l’absence de régularisation, CA CONSUMER FINANCE pourra exiger le remboursement immédiat des sommes échues impayées, majorées d’une indemnité égale, au plus, à 8 % des dites sommes, outre les intérêts de retard au taux légal, jusqu’au parfait paiement. CA CONSUMER FINANCE recouvrera la créance dans les conditions de droit commun.</p>

                <h4>ARTICLE 8 - INFORMATIQUE, FICHIERS ET LIBERTÉS ET SECRET BANCAIRE </h4>
                <p class="text">Les informations recueillies par CA CONSUMER FINANCE à l’occasion de la mise en place de la présente Offre ainsi qu’ultérieurement dans le cadre de l’exécution de l’Offre (étude, délivrance, gestion, recouvrement, études statistiques, évaluation et gestion du risque) sont nécessaires pour prendre en compte la demande du Bénéficiaire, à défaut elle ne pourra être traitée.</p>

                <p class="text">Le Bénéficiaire accepte que tous retards, incidents de paiement, anomalies, fausses déclarations, falsification de documents, ainsi que de manière générale toute déclaration irrégulière fassent l’objet d’un traitement spécifique destiné à prévenir la fraude et les impayés. CA CONSUMER FINANCE fait appel à des prestataires de services intervenant dans la prévention des risques de fraude.</p>

                <p class="text">Le Bénéficiaire peut également recevoir des offres commerciales de CA CONSUMER FINANCE. Si le Bénéficiaire ne souhaite pas faire l’objet d’offres commerciales, ou s’il souhaite exercer son droit d’opposition à quelque titre que ce soit, soit immédiatement, soit, à tout moment, le Bénéficiaire peut le faire en contactant le Service Consommateurs de CA CONSUMER FINANCE (adresse B.P. 126, 59447 Wasquehal Cedex.)</p>

                <p class="text">Conformément à la loi n°78-17 du 6 janvier 1978 modifiée, le Bénéficiaire peut exercer selon les mêmes modalités son droit d’accès et de rectification des données personnelles le concernant.</p>

                <p class="text">Pour satisfaire aux obligations légales et réglementaires, des informations concernant le Bénéficiaire pourront être transmises sur demande aux autorités de contrôle, de tutelle et judiciaires légalement habilitées, notamment dans le cadre de la lutte contre le blanchiment de capitaux et le financement du terrorisme.</p>

                <h4>ARTICLE 9 : CONVENTION SUR LA PREUVE </h4>
                <p class="text">Les parties conviennent que les données sous forme électroniques, les enregistrements notamment informatiques et téléphoniques et/ou leur reproduction, conservée sous la responsabilité de CA CONSUMER FINANCE, constituent des moyens de preuve admissibles pour la conclusion et l’exécution de l’Offre.</p>

                <h4>ARTICLE 10 : MÉDIATION ET DROIT APPLICABLE </h4>
                <p class="text">10.1 - En cas de litige, le Bénéficiaire peut saisir par écrit le Service Consommateurs à l’adresse suivante : B.P. 126, 59447 Wasquehal Cedex.</p>

                <p class="text">Si les parties ne trouvent pas de solution à ce litige, le Bénéficiaire peut saisir le Médiateur de l’Association Française des Sociétés Financières (ASF) - 75854 PARIS Cedex 17. Le Médiateur ne peut être saisi si une procédure judiciaire est en cours, ou si le différend porte sur les conditions d’un ré-aménagement ou d’un rééchelonnement.</p>

                <p class="text">10.2 – Le présent contrat ainsi que les relations précontractuelles sont rédigés en langue française et sont régis par le Droit français. Le tribunal d’instance auquel ressortit le domicile du défendeur connaît des litiges nés du présent contrat.</p>

                <p class="text">CA CONSUMER FINANCE SA - au capital de 346 546 434 Euros - siège social : 128- 130 Boulevard Raspail, 75006 PARIS - 542 097 522 RCS PARIS - Établissement bancaire autorisé à exercer ses activités et soumise au contrôle de l’Autorité de Contrôle Prudentiel : 61 rue Taitbout - 75436 PARIS CEDEX 09.</p>

                <p class="text">Téléphone : 03 20 69 52 97(non surtaxé).</p>

                <p class="text">Keepinsport SARL – au capital de 1250 euros – siège social 19 chemin du Carrelot 31100 Toulouse– 750020612 RCS TOULOUSE – agissant en qualité d'intermédiaire de crédit exclusif de CA CONSUMER FINANCE.</p>
                <h3>TARIFS (en vigueur à compter du 01 Janvier 2015)</h3>

                <h4>Pack Défis </h4>
                
                <p class="text">Prix mensuel de l’offre : 0€ TTC</p>
                <p class="text">Durée minimale d’engagement : Sans engagement</p>
                <p class="text">Description de l’offre : Synchronisation automatique des activités, Outil d’analyse et de suivi d’entraînement, Accès aux défis</p>

                <h4>Pack Premium </h4>
                
                <p class="text">Prix mensuel de l’offre : 5€ TTC</p>
                <p class="text">Prix annuel de l’offre : 50€ TTC (Soit 2 mois offerts par rapport au prix mensuel de l’offre)</p>
                <p class="text">Durée minimale d’engagement : Sans engagement. Toute période commencée est due (paiement en début de période)</p>
                <p class="text">Description de l’offre : Offre du Pack Défis, Module de plan d’entraînement, Import de l’historique d’activités, Synchronisation avec Google Agenda, Accès facilité à une montre</p>
                
                <h4>Pack Élite </h4>
                
                <p class="text">Prix hebdomadaire de l’offre : à partir de 12€ TTC, en fonction du choix du coach</p>
                <p class="text">Prix mensuel de l’offre : à partir de 50€ TTC, en fonction du choix du coach</p>
                <p class="text">Prix semestriel de l'offre : à partir de 250€ TTC, en fonction du choix du coach (Soit 1 mois offert par rapport au prix mensuel de l’offre)</p>
                <p class="text">Prix annuel de l’offre : à partir de 500€ TTC, en fonction du choix du coach (Soit 1 mois offert + 1 tshirt par rapport au prix mensuel de l’offre)</p>
                <p class="text">Durée minimale d’engagement : minimum 4 semaines pour l’offre hebdomadaire. Sans engagement pour les offres mensuelle, semestrielle et annuelle. Toute période commencée est due (paiement en début de période)</p>
                <p class="text">Description de l’offre : Offre du Pack Premium, Coaching sur mesure avec un professionnel en fonction du choix du coach

                <h4>Pack et Montres </h4>
                
                <p class="text">Prix d’achat des montres : prix disponibles sur http://www.keepinsport.com, rubriques "les offres"</p>
                <p class="text">Prix d’un Pack et d’une Montre : en fonction du choix du pack, de la montre et du coach</p>
                <p class="text">Mode de paiement selon l’offre de paiement choisie : soit comptant en Carte Bleue, soit comptant en Carte Bleue après réception, soit en 2 ou 3 fois sans frais</p>
                <p class="text">Avantage Keepinsport : remboursement d’un montant de 15% pour tout achat d’un pack et d’une montre</p>

                <h4>Coach </h4>
                
                <p class="text">Prix mensuel de l’offre : 15€ TTC par sportif suivi (inclus dans le prix du Pack Élite, cf. ci-dessus offre Pack Elite) 1 mois offerts pour les sportifs déjà suivis lors de l’inscription à l’offre Coach et inscrits au plus tard 14 jours après l’inscription à l’offre Coach
                <p class="text">Durée minimale d’engagement : Sans engagement. Toute période commencée est due (paiement en début de période)
                <p class="text">Description de l’offre : Outil avancé de gestion et de suivi de plan d’entraînement, Référencement et visibilité, Gestion du paiement des sportifs suivis (Encaissement et rétrocession sur utilisation des plans premiums)
                <p class="text">Gestion prioritaire des dysfonctionnements rencontrés et des demandes d’évolutions sur le site</p>

            </div>
        </div>
    </div>
    
{% endblock %}
